@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overscroll-behavior-y: contain;
    touch-action: pan-x pan-y;
    -webkit-user-select: none;
    user-select: none;
  
    font-family: "Inter", sans-serif;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.ql-toolbar.ql-snow {
    border-color: rgb(209 213 219 / 1) !important;
    border-bottom: 0px !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
    border-color: rgb(209, 213, 219) !important;
    font-family: "Open sans" !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke {
    stroke: rgb(0 151 255 / 1) !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.cell.today,
.mx-time-item.active {
    color: rgb(0 151 255 / 1);
}

.mx-calendar-content .cell:hover,
.mx-time-column .mx-time-item:hover {
    background-color: rgb(243 244 246) !important;
}

.mx-calendar-content .cell.active {
    background-color: rgb(0 151 255 / 1) !important;
}

.cell {
    border-radius: 4px;
}

.mx-datepicker-main {
    font-family: inherit !important;
    color: rgb(75 85 99) !important;
    user-select: none;
}

.mx-icon-calendar,
.mx-icon-clear {
    color: rgb(0 151 255 / 1) !important;
}

.mx-table th {
    font-weight: 600 !important;
}

.className {
    display: flex;
    flex-wrap: wrap;
    /* Permite a quebra de linha quando necessário */
    list-style: none;
    padding: 15px 0;
    margin: 0;
    gap: 0.3rem;
    /* Centraliza os itens na linha */
}

.page-item {
    color: #16151a !important;
    border-radius: 5px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin-right: 8px;
    min-width: 24px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #ddd;
}

.page-item.active {
    background-color: #0097ff;
    border-color: #0097ff;
}

.page-item.active .page-link {
    color: #fff;
}

.page-item.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.page-link {
    display: block;
    padding: 10px 16px;
    cursor: pointer;
    user-select: none;
}
.iti__dropdown-content.iti--flexible-dropdown-width {
 top: 50px !important;  /* Desloca 50px para baixo */
}

.page-item:not(.active):not(.disabled) .page-link {
    border-radius: 5px;
}

/* Responsivo */
@media (max-width: 768px) {
    .page-link {
        padding: 0.2rem 0.4rem;
        /* Reduz ainda mais o tamanho em telas menores */
        font-size: 0.75rem;
    }
}

@media (max-width: 480px) {
    .className {
        gap: 0.2rem;
        /* Menor espaçamento entre os itens em telas menores */
    }
    .page-item {
        margin-bottom: 8px;
    }

    .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem 0.8rem;
        /* Tamanho ultra-compacto em telas muito pequenas */
        font-size: 14px;
    }

}

.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;     /* Firefox */
}